button {
    padding: 15px;
    border: 2px solid var(--dark);
    background: var(--primary);
    box-shadow: 2px 2px 0 var(--dark);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

button.primary {
    background: var(--primary);
}

button.secondary {
    background: var(--secondary);
}

button.tertiary {
    background: var(--tertiary);
}

button.quaternary {
    background: var(--quaternary);
}

button:hover {
    box-shadow: 4px 4px 0 var(--dark);
    transform: translate(-2px, -2px);
    transition: all 0.1s ease-in-out;
}

button:active {
    box-shadow: 2px 2px 0 var(--dark);
    transform: translate(0px, 0px);
    transition: all 0.1s ease-in-out;
}