h1 {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 2rem;
    font-weight: bold;
    background: var(--primary);
    border-bottom: 2px solid var(--dark);
    border-top: 2px solid var(--dark);
}