@using Backend.Models

@* ReSharper recognizes this Header component as html header tag *@
@* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
<Header Title="Todo Hybrid"/>

<div class="container">
    <div class="buttons-container">
        <Button>Click Me!</Button>
        <Button>Click Me!</Button>
    </div>

    <div class="todos-container">
        <TodoList Todos="todos"/>
    </div>
</div>

@code {

    private readonly List<ITodoItem> todos = new()
    {
        new Backend.Models.TodoItem("Do something"),
        new Backend.Models.TodoItem("Do something else"),
        new Backend.Models.TodoItem("Do something else again"),
        new Backend.Models.TodoItem("Do something else again and again"),
        new Backend.Models.TodoItem("Do some other thing"),
        new Backend.Models.TodoItem("Do some other thing again"),
    };

}