<Header Title="Todo Hybrid"/>

<div class="container">
    <div class="buttons-container">
        <Button Text="Click Me!" OnClick="IncrementCount"/>
        <Button Text="Click Me!" OnClick="IncrementCount"/>
    </div>

    <div class="todos-container">
        <p>Current count: @currentCount</p>
    </div>
</div>

@code {
    private int currentCount;

    private void IncrementCount() => currentCount++;
}