<Header Title="Todo Hybrid"/>

<p>Current count: @currentCount</p>

<Button Text="Click Me!" OnClick="IncrementCount"/>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }
}