@using Backend.Models
@using Backend.Services
@inject TodoItemsService TodoItemsService

@* ReSharper recognizes this Header component as html header tag *@
@* ReSharper disable once Html.TagShouldNotBeSelfClosed *@
<Header Title="Todo Hybrid"/>

<div class="container">
    <div class="buttons-container">
        <Button>Click Me!</Button>
        <Button>Click Me!</Button>
    </div>

    <div class="todos-container">
        <TodoList Todos="TodoItems"/>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        // temporary code to add some todos
        TodoItemsService.Create("Do something");
        TodoItemsService.Create("Do something else");
        TodoItemsService.Create("Do something else again");
        TodoItemsService.Create("Do something else again and again");
        TodoItemsService.Create("Do some other thing");
        TodoItemsService.Create("Do some other thing again");
        
        TodoItems ??= TodoItemsService.GetAll();
    }

    private IEnumerable<ITodoItem>? TodoItems { get; set; }

}