@using Backend.Models
@using Backend.Services
@inject TodoItemsService TodoItemsService

<Button Color="secondary" OnClick="@OnClick">
    <span class="title">@TodoItemParameter.Title</span>
</Button>

@code {

    [Parameter]
    public required ITodoItem TodoItemParameter { get; set; }

    private void OnClick()
    {
        TodoItemsService.Complete(TodoItemParameter.Id);
    }

}