@using Backend.Models
@using Backend.Services
@inject TodoItemsService TodoItemsService

<div class="wrapper">
    @foreach (var item in Todos)
    {
        <TodoItem
            TodoItemParameter="item"
            OnClick="@(() => TodoItemsService.Complete(item.Id))"/>
    }
</div>

@code {

    [Parameter]
    public required IEnumerable<ITodoItem> Todos { get; set; }

}