@using Backend.Models
@using Backend.Services

<Button Color="secondary" OnClick="@OnClick">
    <span class="title">@TodoItemParameter.Title</span>
</Button>

@code {

    [Parameter]
    public required ITodoItem TodoItemParameter { get; set; }

    [Parameter]
    public EventCallback OnClick { get; set; }

}