@using Backend.Models

<div class="wrapper">
    @foreach (var item in Todos)
    {
        <TodoItem Todo="item"/>
    }
</div>

@code {

    [Parameter]
    public required List<ITodoItem> Todos { get; set; }

}